.nav ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.nav a{
    text-decoration: none;
    padding: 10px;
    display: block;
    text-align: center;
}
.nav li{
    float: left;
}
#day{
    display: right;
}